@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@font-face {
  font-family: "Uni Sans";
  src: url("../fonts/ UniSansHeavyCAPS.eot");
  src: local("../fonts/ Uni Sans Heavy CAPS"), local("UniSansHeavyCAPS"), url("../fonts/ UniSansHeavyCAPS.eot?#iefix") format("embedded-opentype"), url("../fonts/ UniSansHeavyCAPS.woff") format("woff"), url("../fonts/ UniSansHeavyCAPS.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.header {
  min-height: 90px;
}
.header__top {
  padding: 21px 0;
  background-color: #14c0d4;
}
.top-header {
  background: url(../../images/FirstPage/header/background.jpg) center no-repeat;
  background-size: cover;
}
.top-header__container {
  display: flex;
  align-items: center;
}
.top-header__column {
  flex: 0 1 50%;
}
.top-header__column_logo {
  flex: 0 0 190px;
}
.top-header__menu {
  padding-right: 40px;
}
.top-header__logo {
  display: block;
  text-align: center;
}
.top-header__logo span {
  display: block;
}
.top-header__logo span:nth-child(1) {
  font-family: "Play";
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.top-header__logo span:nth-child(2) {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.6px;
  text-transform: lowercase;
}
.top-header__contacts {
  padding-left: 30px;
}

.contacts-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contacts-header__column {
  padding: 0 30px;
}
.contacts-header__column:first-child {
  border-right: 1px solid #fff;
}
.contacts-header__item_phone {
  padding-left: 37px;
  background: url(../../images/FirstPage/header/pnone-white.png) left top no-repeat;
}

.bottom-header__container {
  min-height: 63px;
}
.bottom-header__content {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin: 0 -118px;
}
.bottom-header__column {
  flex: 0 1 50%;
  padding: 0 118px;
}
.actions-header {
  display: flex;
}
.actions-header li {
  margin-right: 52px;
}
.actions-header li:last-child {
  margin-right: 0;
}
.actions-header__enter {
  display: inline-flex;
  align-items: center;
  padding-left: 36px;
  min-height: 24px;
  background: url(../../images/FirstPage/header/icon-1.png) top left no-repeat;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
}
.actions-header__enter span {
  display: inline-block;
  color: inherit;
  border-bottom: 1px dashed #999999;
}
.actions-header__reg {
  display: inline-flex;
  align-items: center;
  padding-left: 33px;
  min-height: 24px;
  background: url(../../images/FirstPage/header/man-blue.png) top left no-repeat;
  font-size: 14px;
  font-weight: 300;
  color: #1ab9ce;
}
.actions-header__reg span {
  border-bottom: 1px dashed #1ab9ce;
}
.actions-header__mail {
  display: inline-flex;
  align-items: center;
  padding-left: 35px;
  min-height: 24px;
  background: url(../../images/FirstPage/header/icon-2.png) top 5px left no-repeat;
  font-size: 14px;
  font-weight: 300;
  color: #1ab9ce;
  text-decoration: underline;
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info-header__column {
  padding-right: 40px;
}
.info-header__column:last-child {
  padding-right: 0;
}
.info-header__callback {
  display: inline-flex;
  align-items: center;
  padding-left: 32px;
  min-height: 25px;
  background: url(../../images/FirstPage/header/pnone-blue.png) top 5px left no-repeat;
  font-size: 14px;
  font-weight: 300;
  color: #1ab9ce;
}
.info-header__callback span {
  border-bottom: 1px dashed #1ab9ce;
}
.info-header__schedule {
  display: block;
  padding-left: 38px;
  background: url(../../images/FirstPage/header/icon-3.png) top 2px left no-repeat;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
.info-header__schedule p {
  margin-bottom: 5px;
}
.info-header__schedule span {
  font-weight: 400;
}
.info-header__cart {
  margin-right: 35px;
  display: block;
  height: 39px;
  width: 39px;
  position: relative;
}
.info-header__cart span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  top: 0;
  right: -35px;
  z-index: 1;
  background-color: #f68038;
  border-radius: 20px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__list li {
  text-align: center;
  margin-right: 11px;
  margin-bottom: 3px;
}
.menu__list li:last-child {
  margin-right: 0;
}
.menu__link {
  display: block;
  padding: 7px 22px;
  font-family: "Play";
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  border-radius: 20px;
  transition: background-color 0.2s linear;
}
.menu__link:hover {
  background-color: #068292;
}

.icon-menu {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.icon-menu span {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.2s linear, opacity 0.2s linear;
}
.icon-menu.active {
  position: relative;
}
.icon-menu.active span:nth-child(2) {
  opacity: 0;
}
.icon-menu.active span:nth-child(1), .icon-menu.active span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}
.icon-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}
.icon-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
@media (max-width: 992.98px) {
  .icon-menu {
    display: block;
  }
}

.item-contacts__label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}
.item-contacts__phone {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}