//====================================================================================================

.header {
  min-height: 90px;
  &__top {
    padding: 21px 0;
    background-color: #14c0d4;
  }

  &__bottom {
  }
}

.top-header {
  background: url(../../images/FirstPage/header/background.jpg) center no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    align-items: center;
  }

  &__column {
    flex: 0 1 50%;
    &_logo {
      flex: 0 0 190px;
    }
  }

  &__menu {
    padding-right: 40px;
  }

  &__logo {
    display: block;
    text-align: center;

    span {
      display: block;
      &:nth-child(1) {
        font-family: $pl;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
      }

      &:nth-child(2) {
        font-size: 12px;
        font-weight: 300;
        color: #ffffff;
        letter-spacing: 0.6px;
        text-transform: lowercase;
      }
    }
  }

  &__contacts {
    padding-left: 30px;
  }
}

.contacts-header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__column {
    padding: 0 30px;
    &:first-child {
      border-right: 1px solid #fff;
    }
  }

  &__item {
    &_phone {
      padding-left: 37px;

      background: url(../../images/FirstPage/header/pnone-white.png) left top
        no-repeat;
    }
  }
}

.bottom-header {
  &__container {
    min-height: 63px;
  }

  &__content {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin: 0 -118px;
  }

  &__column {
    flex: 0 1 50%;
    padding: 0 118px;
  }

  &__actions {
  }

  &__info {
  }
}

.actions-header {
  display: flex;
  li {
    margin-right: 52px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__enter {
    display: inline-flex;
    align-items: center;
    padding-left: 36px;
    min-height: 24px;

    background: url(../../images/FirstPage/header/icon-1.png) top left no-repeat;

    font-size: 14px;
    font-weight: 300;
    color: #999999;
    span {
      display: inline-block;
      color: inherit;

      border-bottom: 1px dashed #999999;
    }
  }
  &__reg {
    display: inline-flex;
    align-items: center;
    padding-left: 33px;
    min-height: 24px;

    background: url(../../images/FirstPage/header/man-blue.png) top left
      no-repeat;

    font-size: 14px;
    font-weight: 300;
    color: #1ab9ce;
    span {
      border-bottom: 1px dashed #1ab9ce;
    }
  }

  &__mail {
    display: inline-flex;
    align-items: center;
    padding-left: 35px;
    min-height: 24px;

    background: url(../../images/FirstPage/header/icon-2.png) top 5px left
      no-repeat;

    font-size: 14px;
    font-weight: 300;
    color: #1ab9ce;
    text-decoration: underline;
  }
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__column {
    padding-right: 40px;
    &:last-child {
      padding-right: 0;
    }
  }

  &__callback {
    display: inline-flex;
    align-items: center;
    padding-left: 32px;
    min-height: 25px;

    background: url(../../images/FirstPage/header/pnone-blue.png) top 5px left
      no-repeat;

    font-size: 14px;
    font-weight: 300;
    color: #1ab9ce;
    span {
      border-bottom: 1px dashed #1ab9ce;
    }
  }

  &__schedule {
    display: block;
    padding-left: 38px;

    background: url(../../images/FirstPage/header/icon-3.png) top 2px left
      no-repeat;

    font-size: 12px;
    font-weight: 300;
    color: #999999;
    p {
      margin-bottom: 5px;
    }
    span {
      font-weight: 400;
    }
  }

  &__cart {
    margin-right: 35px;
    display: block;
    height: 39px;
    width: 39px;

    position: relative;
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 11px;

      font-size: 18px;
      font-weight: 700;
			color: #ffffff;
			line-height: 25px;

      position: absolute;
      top: 0;
      right: -35px;
      z-index: 1;

      background-color: #f68038;
      border-radius: 20px;
    }
  }
}
