.info-menu {
  padding: 10px 0;
  border-bottom: 3px dashed #dedede;
	border-top: 3px dashed #dedede;
	
	@media (max-width: $md3 + px){
		padding: 20px 0;
	}

  &__body {
    display: inline-block;

    @media (max-width: $md3 + px) {
      display: flex;
    }
  }

  &__row {
    display: flex;
    padding: 15px 0 15px 11px;
    align-items: center;

    border-top: 1px solid #dedede;
    &:first-child {
      border-top: none;
    }

    @media (max-width: $md3 + px) {
      padding: 0;

      flex-direction: column;
      align-items: flex-start;
      flex: 0 1 50%;

      border-top: 0;
    }
  }

  &__row-title {
    margin-right: 34px;

    font-size: 14px;
    font-weight: 900;
    color: #333333;
		letter-spacing: 0.3px;
		
		@media (max-width: $md3 + px){
			font-size: 18px;
			margin-right: 0;
			margin-bottom: 10px;
		}
  }

  &__list {
    display: flex;
    align-items: center;
    li {
			padding: 0 15px;
			@media (max-width: $md3 + px){
				padding: 0;
				margin: 5px 0;
			}
    }

    @media (max-width: $md3 + px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 300;
    color: #1ab9ce;

    transition: color 0.2s linear;
    &:hover {
      color: #333333;
		}
		
		@media (max-width: $md3 + px){
			font-size: 14px;
		}
  }
}
